Django==2.2
gunicorn==19.9.0
beautifulsoup4==4.7.1
feedparser==5.2.1
newspaper3k==0.2.8
psycopg2==2.8.1
python-dateutil==2.8.0
django-rest-auth==0.9.5
django-allauth==0.39.1
django-cors-headers==2.5.2
djangorestframework==3.9.2
django-cron==0.5.1
django-elasticsearch-dsl==0.5.1